.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.device-box {
  width: 200px;
  height: 200px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: row;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.device-box:hover {
  transform: scale(1.05);
}

.device-name {
  font-size: 1.5rem;
}