.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .header__link {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    transition: background-color .3s ease-in-out;
  }
  
  .header__link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #007BFF;
    transition: width .3s;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 10px;
  }
  
  .header__link:hover {
    background-color: #eee;
  }
  
  .header__link:hover:after {
    width: 100%;
  }
  
  .header__link--active {
    background-color: #007BFF;
    color: #fff;
  }
  
  .header__link--active:after {
    width: 100%;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    transition: color .3s ease-in-out;
  }
  
  nav a:hover {
    color: #0074D9;
  }
  